.heading{
    padding-bottom: 122px;
    position: relative;
    margin: 0 auto;
    width: 960px;
    background-color: white;
    padding: 2%;
 
}

.body{
    background-color: white;
    /*width: 70%;*/
    margin: 0 auto;
    
    width: 960px;
   
   padding: 2%;


}
.indeximg1{
    /*position: relative;*/
    float: left;
    width: 220px;
    padding-right: 2%
}
.aboutMEheader{
     
}
/*this is an example of a decendent selector*/
.body h1{
    color: #00cc99;
}

.name{
    float: left;
    bottom: 0px;
}
.nameDiv{
    position: absolute;
    float: left;
    bottom: 0px;
    background-color: #4aaaa5;
    color: white;
    text-shadow: 2px 2px rgb(1, 27, 2);
    padding: 0% 2%;
}
.smallDiv{
    position: absolute;
    bottom: 15px;
    right: 2px;
    float: left;
    
}

.content{
    /*background-color: grey;*/
    background-image: url("/assets/images/dust_scratches.png");
    min-height: calc(100vh - 70px);
    padding-top: 20px;

}
body{
    background-image: url("/assets/images/dust_scratches.png");
    
}
footer{
    text-align: center;
    border-top: 5px solid #4aaaa5;
    height: 50px;
    background-color: grey;
    color: white;
}
textarea{
    width: 80%;
   height: 152px;
}
